.addon{
    @include element("thantai"){
        max-width: 295px;
        position: fixed;
        left: 5%;
        z-index: 12;
        //background: url("../images/bg/thantai.gif") center center no-repeat;
        background: url("../images/bg/thantai/thantai-animation_0.png") center center no-repeat;
        animation: thantai 2000ms infinite;
        background-size: contain;
        height: 350px;
        width: 300px;
        bottom: 5%;
    }
    @include element("goldbottom"){
        margin: 0;
        position: absolute;
        left: calc(50% - 275px);
        max-width: 568px;
        bottom: -1%;
    }
    @include element("fish"){
        right: 5%;
        position: fixed;
        top: calc(50% - 125px);
        max-width: 250px;
        animation: animation-fish 4s infinite;
    }
    @include element("shark"){
        left: 5%;
        position: fixed;
        top: 1%;
        max-width: 250px;
        animation: animation-shark 4s infinite;
    }
    @include element("octopus"){
        right: 25%;
        position: absolute;
        bottom: 5%;
        max-width: 150px;
        animation: animation-octopus 4s infinite;
    }
}