.addon{
    pointer-events: none;
    @include element("thantai"){
        max-width: 295px;
        position: fixed;
        left: 10%;
        z-index: 12;
        background: url("../images/bg/thantai.gif") center center no-repeat;
        //background: url("../images/bg/thantai/thantai-animation_0.png") center center no-repeat;
        //animation: thantai 2000ms infinite;
        background-size: contain;
        height: 295px;
        width: 295px;
        bottom: 0%;
    }
    @include element("goldbottom"){
        margin: 0;
        position: absolute;
        left: calc(50% - 275px);
        max-width: 100%;
        bottom: 0%;
    }
    @include element("fish"){
        right: 5%;
        position: absolute;
        top: calc(50% - 125px);
        max-width: 250px;
        animation: animation-fish 6s infinite;
    }
    @include element("shark"){
        left: 5%;
        position: absolute;
        top: 1%;
        max-width: 250px;
        animation: animation-shark 6s infinite;
    }
    @include element("octopus"){
        right: 25%;
        position: absolute;
        bottom: 25%;
        max-width: 120px;
        animation: animation-octopus 4s infinite;
    }
}