#wrapper {
    width: 100%;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    position: relative;
    min-height: 100vh;
}
body {
    z-index: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    //overflow-x: hidden;
    background: url("#{$imgUrl}/bg/bg-body.jpg") center center no-repeat;
    background-size: cover;
}

.main{
    min-height: 100vh;
}

header {
    width: 100%;
    display: block;
    margin: 0;
    padding: 0;
}

.page_title{
    display: none;
}
.page_logo{
    z-index: 21;
    position: absolute;
    margin: auto;
    max-width: 130px;
    right: 3%;
    top: 3%;
    animation: animation-logo 6s infinite;
}

input, button, textarea {
    &:focus, &:active{
        outline: none;
    }
}